@import "tailwindcss";

.hover\:underline {
    position: relative;
    text-decoration: none !important;
}

.hover\:underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: currentColor;
    transition: width 0.2s ease-in-out;
}

.hover\:underline:hover::after,
.underline::after {
    width: 100%;
}